<div>
    <br /><br />
    <div class = "container">
        <div id = "search"><span id = "text-search">Search: </span><input ng-model="query" /></div>

        <div class = "row">
            <br><br>
            <a *ngFor="folder in folders | filter:query" href='#/gallery/{{folder.id}}'>
                <div class = "col-lg-4 col-md-4 col-sm-6 col-xs-12 folder-container">
                    <img class = "folder" src='{{folder.url}}' width=320 height=270>
                    <div id = "folder-name">{{folder.name}}</div>
                </div>
            </a>
           <!--<img src="../../images/1.png"> -->
        </div>

    </div>
</div>