<div class = "container">
    <br><br>
    <!--Menu-->
    <div class = "row">
        <div class = "col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
        <div class = "btn-group col-lg-8 col-md-8 col-sm-10 col-xs-10">
            <a [routerLink] = "['/folders']" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-camera"></span> Галерея</a>
            <a [routerLink] = "['/contacts']" class="btn btn-lg btn-default">Контакты<span class="glyphicon glyphicon-phone"></span></a>
            <!--<a href="#!/view1" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-camera"></span> Галерея</a>
            <a href="#!/view2" class="btn btn-lg btn-default">Контакты<span class="glyphicon glyphicon-phone"></span></a> -->
        </div>
        <div class = "col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
    </div>
    <div>
        <a href="index.html"><img class = "img-responsive center-block" src="../images/logo5.png"></a>
    </div>
    <router-outlet></router-outlet>
</div>
